<div class="yearly-sales-widget">
  <header class="widget-header">
    <h1 class="widget-title">{{ title }}</h1>
    <p class="widget-subtitle">Monthly Revenue (bars) & Sales Count (line).</p>
  </header>

  <div class="preview-chart-container" (click)="openDialog()" title="Click to expand">
    <div *ngIf="revenueData.length; else noData" class="chart-wrapper">
       <div class="dialog-chart-container">
    <div class="combo-chart">
      <ngx-charts-bar-vertical
        [results]="revenueData"
        [scheme]="revenueColorScheme"
        [xAxis]="true"
        [yAxis]="true"
        [legend]="false"
        [showXAxisLabel]="true"
        xAxisLabel="Month"
        [showYAxisLabel]="true"
        yAxisLabel="Revenue"
        [gradient]="true">
      </ngx-charts-bar-vertical>

      <ngx-charts-line-chart
        class="overlay-line"
        [results]="[{ name: 'Sales Count', series: salesData }]"
        [scheme]="salesColorScheme"
        [xAxis]="false"
        [yAxis]="false"
        [legend]="true"
        [autoScale]="true">
      </ngx-charts-line-chart>
    </div>
    </div>
  </div>

  <ng-template #noData>
    <div class="no-data-placeholder">
      <i class="pi pi-chart-bar" style="font-size: 2rem"></i>
      <span>No yearly data available</span>
    </div>
  </ng-template>
</div>

<!-- Dialog -->
<p-dialog header="Detailed Yearly Sales"
          [(visible)]="isDialogVisible"
          [modal]="true"
          [style]="{ width: '85vw', height: '75vh' }"
          [draggable]="false"
          [resizable]="false"
          styleClass="se-dialog">
  <div class="dialog-chart-container">
    <div class="combo-chart">
      <ngx-charts-bar-vertical
        [results]="revenueData"
        [scheme]="revenueColorScheme"
        [xAxis]="true"
        [yAxis]="true"
        [legend]="false"
        [showXAxisLabel]="true"
        xAxisLabel="Month"
        [showYAxisLabel]="true"
        yAxisLabel="Revenue"
        [gradient]="true">
      </ngx-charts-bar-vertical>

      <ngx-charts-line-chart
        class="overlay-line"
        [results]="[{ name: 'Sales Count', series: salesData }]"
        [scheme]="salesColorScheme"
        [xAxis]="false"
        [yAxis]="false"
        [legend]="true"
        [autoScale]="true">
      </ngx-charts-line-chart>
    </div>
  </div>
</p-dialog>
