<!-- <div class="loading-overlay fixed inset-0 bg-gradient-to-r from-black/70 to-black/40 backdrop-blur-sm flex items-center justify-center z-[1000]"
    *ngIf="isLoading$ | async">
    <div class="loader-container flex flex-col items-center justify-center">
        <canvas #earthCanvas class="circuit-loader w-96 h-96"></canvas>
    </div>
</div> -->

<div *ngIf="isLoading$ | async"
  class="fixed inset-0 z-50 flex items-center justify-center bg-white/80 backdrop-blur-sm">

  <div class="relative w-20 h-20">
    <div class="absolute w-full h-full border-4 border-blue-400 rounded-full animate-ping"></div>
    <div class="absolute w-full h-full border-4 border-blue-500 rounded-full"></div>
  </div>

</div>