@import "tailwindcss";


.gradient-border {
  border: 2px solid transparent;
  background-image: linear-gradient(white, white), linear-gradient(to right, #4f46e5, #e91e63);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px white inset;
  border-radius: 0.5rem; /* Equivalent to rounded-md */
}

.dark .gradient-border {
  background-image: linear-gradient(#1f2937, #1f2937), linear-gradient(to right, #4f46e5, #e91e63);
  box-shadow: 2px 1000px 1px #1f2937 inset;
}