/* .container {
  width: 100%;
  max-width: none;
}

.card {
  display: flex;
  align-items: self-start;
  gap: 0.25rem;
  padding: 4px;
  border: 0px;
}

.grid {
  align-items: stretch;
}

p-floatLabel .p-inputtext,
p-floatLabel .p-inputtextarea,
p-dropdown {
  min-height: 1.5rem;
  display: flex;
  align-items: center;
}

p-dropdown .p-dropdown-label {
  padding: 0.25rem;
}

p-button.p-button-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 0.875rem;
} */