
<div class="flex flex-wrap w-80%">
  <div class="w-full  mx-auto">
    <div header="Create Seller" styleClass="form-card-content" class="w-full">
      <form [formGroup]="sellerForm" (ngSubmit)="saveSeller()">
        <div class="flex w-full">
          <!-- Left: Form Fields -->
          <div class="flex-1 grid grid-cols-2 gap-4">
            <div class="form-group">
              <label for="name" class="form-label text-bold">Name</label>
              <input id="name" type="text" pInputText class="form-input w-full" formControlName="name" required />
              <small *ngIf="sellerForm.controls['name'].invalid && sellerForm.controls['name'].dirty"
                class="p-error block">Name is required</small>
            </div>
            <div class="form-group">
              <label for="shopName" class="form-label text-bold">Shop Name</label>
              <input id="shopName" type="text" pInputText class="form-input w-full" formControlName="shopName"
                required />
              <small *ngIf="sellerForm.controls['shopName'].invalid && sellerForm.controls['shopName'].dirty"
                class="p-error block">Shop Name is required</small>
            </div>
            <div class="form-group">
              <label for="status" class="form-label text-bold">Status</label>
              <p-select id="status" [options]="statuses" formControlName="status" placeholder="Select Status"
                class="w-full" required></p-select>
              <small *ngIf="sellerForm.controls['status'].invalid && sellerForm.controls['status'].dirty"
                class="p-error block">Status is required</small>
            </div>
            <div class="form-group">
              <label for="pan" class="form-label text-bold">PAN</label>
              <input id="pan" type="text" pInputText class="form-input w-full" formControlName="pan" required />
              <small *ngIf="sellerForm.controls['pan'].invalid && sellerForm.controls['pan'].dirty"
                class="p-error block">PAN is
                required and should be valid format</small>
            </div>
            <!-- GSTIN and Contact Number in a Single Row -->
            <div class="form-group">
              <label for="gstin" class="form-label text-bold">GSTIN</label>
              <input id="gstin" type="text" pInputText class="form-input w-full" formControlName="gstin" required />
              <small *ngIf="sellerForm.controls['gstin'].invalid && sellerForm.controls['gstin'].dirty"
                class="p-error block">GSTIN is required and should be valid format</small>
            </div>
            <div class="form-group">
              <label for="contactNumber" class="form-label text-bold">Contact Number</label>
              <input id="contactNumber" type="text" pInputText class="form-input w-full" formControlName="contactNumber"
                required />
              <small *ngIf="sellerForm.controls['contactNumber'].invalid && sellerForm.controls['contactNumber'].dirty"
                class="p-error block">Contact Number is required and should be valid format</small>
            </div>
          </div>
        </div>

        <!-- Second Row: Address and Bank Details -->
        <div class="flex w-full mt-4">
          <!-- Address Details -->
          <div class="flex-1 mr-2">
            <h2 class="text-lg font-bold mb-2">Address Details</h2>
            <div formGroupName="address">
              <div class="form-group">
                <label for="street" class="form-label text-bold">Street</label>
                <input id="street" type="text" pInputText class="form-input w-full" formControlName="street" required />
                <small *ngIf="sellerForm.get('address.street')?.invalid && sellerForm.get('address.street')?.dirty"
                  class="p-error block">Street is required</small>
              </div>
              <div class="grid grid-cols-3 gap-4">
                <div class="form-group">
                  <label for="city" class="form-label text-bold">City</label>
                  <input id="city" type="text" pInputText class="form-input w-full" formControlName="city" required />
                  <small *ngIf="sellerForm.get('address.city')?.invalid && sellerForm.get('address.city')?.dirty"
                    class="p-error block">City is required</small>
                </div>
                <div class="form-group">
                  <label for="state" class="form-label text-bold">State</label>
                  <input id="state" type="text" pInputText class="form-input w-full" formControlName="state" required />
                  <small *ngIf="sellerForm.get('address.state')?.invalid && sellerForm.get('address.state')?.dirty"
                    class="p-error block">State is required</small>
                </div>
                <div class="form-group">
                  <label for="pincode" class="form-label text-bold">Pincode</label>
                  <input id="pincode" type="text" pInputText class="form-input w-full" formControlName="pincode"
                    required />
                  <small *ngIf="sellerForm.get('address.pincode')?.invalid && sellerForm.get('address.pincode')?.dirty"
                    class="p-error block">Pincode is required and should be 6 digits</small>
                </div>
              </div>
            </div>
          </div>
          <!-- Bank Details -->
          <div class="flex-1 ml-2">
            <h2 class="text-lg font-bold mb-2">Bank Details</h2>
            <div formGroupName="bankDetails">
              <div class="form-group">
                <label for="accountHolderName" class="form-label text-bold">Account Holder Name</label>
                <input id="accountHolderName" type="text" pInputText class="form-input w-full"
                  formControlName="accountHolderName" required />
                <small
                  *ngIf="sellerForm.get('bankDetails.accountHolderName')?.invalid && sellerForm.get('bankDetails.accountHolderName')?.dirty"
                  class="p-error block">Account Holder Name is required</small>
              </div>
              <div class="grid grid-cols-2 gap-4">
                <div class="form-group">
                  <label for="accountNumber" class="form-label text-bold">Account Number</label>
                  <input id="accountNumber" type="text" pInputText class="form-input w-full"
                    formControlName="accountNumber" required />
                  <small
                    *ngIf="sellerForm.get('bankDetails.accountNumber')?.invalid && sellerForm.get('bankDetails.accountNumber')?.dirty"
                    class="p-error block">Account Number is required and should be valid format</small>
                </div>
                <div class="form-group">
                  <label for="ifscCode" class="form-label text-bold">IFSC Code</label>
                  <input id="ifscCode" type="text" pInputText class="form-input w-full" formControlName="ifscCode"
                    required />
                  <small
                    *ngIf="sellerForm.get('bankDetails.ifscCode')?.invalid && sellerForm.get('bankDetails.ifscCode')?.dirty"
                    class="p-error block">IFSC Code is required and should be valid format</small>
                </div>
                <div class="form-group">
                  <label for="bankName" class="form-label text-bold">Bank Name</label>
                  <input id="bankName" type="text" pInputText class="form-input w-full" formControlName="bankName"
                    required />
                  <small
                    *ngIf="sellerForm.get('bankDetails.bankName')?.invalid && sellerForm.get('bankDetails.bankName')?.dirty"
                    class="p-error block">Bank Name is required</small>
                </div>
                <div class="form-group">
                  <label for="branch" class="form-label text-bold">Branch</label>
                  <input id="branch" type="text" pInputText class="form-input w-full" formControlName="branch"
                    required />
                  <small
                    *ngIf="sellerForm.get('bankDetails.branch')?.invalid && sellerForm.get('bankDetails.branch')?.dirty"
                    class="p-error block">Branch is required</small>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Save Button -->
        <div class="mt-4">
          <button pButton label="Create Seller" class="save-button w-full" type="submit"></button>
        </div>
      </form>
    </div>
  </div>
</div>