<!-- <div class="card ">
  <p-toast />
  <app-common-header [title]="'Customer List'">
    <ng-template #start>
      <p-button label="New" icon="pi pi-plus" class="mr-2" (onClick)="openNew()" />
      <p-button severity="danger" label="Delete" icon="pi pi-trash" outlined (onClick)="deleteSelectedProducts()"
        [disabled]="!selectedProducts || !selectedProducts.length" />
    </ng-template>

    <ng-template #end>
      <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" auto
        customUpload class="mr-2 inline-block" [chooseButtonProps]="{ severity: 'secondary' }" />
      <p-button label="Export" icon="pi pi-upload" severity="secondary" (onClick)="exportCSV()" />
    </ng-template>
  </app-common-header>
  
  <div class="container mx-auto mt-4">
    <app-shared-grid [gridHeight]="'520px'" [gridWidth]="'100%'" [padding]="'0'" [data]="users"
      [rowSelectionMode]="rowSelectionMode" [column]="columnDefs" (eventFromGrid)="eventFromGrid($event)">
    </app-shared-grid>
   -->
    <!-- <app-common-header [gridWidth]="'100%'"></app-common-header>
<app-shared-grid [gridHeight]="'520px'" [gridWidth]="" [padding]="" [data]="data" [rowSelectionMode]="rowSelectionMode"
  [rowSelectionMode]="rowSelectionMode" [column]="column" (eventFromGrid)="eventFromGrid($event)">
</app-shared-grid> -->
<!-- <app-common-header [gridWidth]="'100%'"></app-common-header>
<app-shared-grid [gridHeight]="'520px'" [gridWidth]="" [padding]="" [data]="data" [rowSelectionMode]="rowSelectionMode"
  [rowSelectionMode]="rowSelectionMode" [column]="column" (eventFromGrid)="eventFromGrid($event)">
</app-shared-grid> -->


<div class="h-[calc(100vh-56px)] flex flex-col overflow-hidden">
<div class="ag-grid-container">
  <div class="ag-grid-header-filter-area">
    <div class="header-info">
      <h4 class="text-lg font-medium text-surface-950 dark:text-surface-0">{{'Customer List'}}</h4>
    </div>
    <div class="header-controls-glass-container">
      <div class="header-controls-content">
        <div class="header-buttons">
          <app-common-header class="h-17" [gridWidth]="'100%'">
            <!-- <ng-template #limit>
              <p-iftalabel>
                <input pInputText id="limit" (change)="getData()" [(ngModel)]="customerFilter.limit" />
                <label for="limit">limit</label>
              </p-iftalabel>
            </ng-template> -->
          </app-common-header>
        </div>
      </div>
    </div>
  </div>

  <div class="ag-grid-main-area">
  <app-shared-grid [gridHeight]="'520px'" [gridWidth]="'100%'" [padding]="'0'" [data]="users"
      [rowSelectionMode]="rowSelectionMode" [column]="columnDefs" (eventFromGrid)="eventFromGrid($event)">
    </app-shared-grid>
  </div>
</div></div>