:host {
  display: block;
  height: 500px;
  /* Give the component a default height */
}

.chart-panel {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1.5rem;
  overflow-x: auto;
  overflow-y: hidden;
}

.chart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.section-header {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--theme-text-primary);
  margin: 0;
}

.chart-body {
  flex-grow: 1;
  position: relative;
}