<!-- <section class="body-font">
  <div class="container px-5 py-1 mx-auto flex flex-wrap">
    <div class="flex w-full mb-8 flex-wrap justify-between items-center">
      <h1 class="sm:text-3xl text-2xl font-medium title-font text-gray-900 lg:mb-0 mb-4">
        Seller Details</h1>
    </div>
    <div class="flex flex-wrap md:-m-2 -m-1 w-full">
      <div class="flex flex-wrap w-full p-2">
        <div class="md:p-2 p-1 w-full">
          <app-shared-grid [data]="data" [rowSelectionMode]="rowSelectionMode" [column]="column"
            (eventFromGrid)="eventFromGrid($event)"></app-shared-grid>
        </div>
      </div>
    </div>
  </div>
</section> -->
<div class="h-[calc(100vh-56px)] flex flex-col overflow-hidden">
  <div class="ag-grid-container">
    <div class="ag-grid-header-filter-area">
      <div class="header-info">
        <h4 class="text-lg font-medium text-surface-950 dark:text-surface-0">{{'Customer List'}}</h4>
      </div>
      <div class="header-controls-glass-container">
        <div class="header-controls-content">
          <div class="header-buttons">
            <app-common-header class="h-17" [gridWidth]="'100%'">
              <!-- <ng-template #limit>
              <p-iftalabel>
                <input pInputText id="limit" (change)="getData()" [(ngModel)]="customerFilter.limit" />
                <label for="limit">limit</label>
              </p-iftalabel>
            </ng-template> -->
            </app-common-header>
          </div>
        </div>
      </div>
    </div>

    <div class="ag-grid-main-area">
      <app-shared-grid [data]="data" [rowSelectionMode]="rowSelectionMode" [column]="column"
        (eventFromGrid)="eventFromGrid($event)"></app-shared-grid>
    </div>
  </div>
</div>