/* :host {
  display: block;
}

h1 {
  color: var(--theme-text-primary);
}

.card {
  background-color: var(--theme-bg-secondary);
  border: var(--ui-border-width) solid var(--theme-border-primary);
  border-radius: var(--ui-border-radius);
  box-shadow: var(--ui-shadow);
  padding: 1rem;
} */
