
<div class="layout-container">
  <app-header (toggleSidebar)="toggleSidebar()" (mobileMenuToggle)="toggleMobileMenu()"></app-header>
  <div class="main-content-area">

    <app-sidebar
      [isPinned]="isSidebarPinned"
      [isHovered]="isSidebarHovered"
      (pinToggle)="togglePin()"
      (mouseEnter)="onMouseEnter()"
      (mouseEnterTriggerZone)="onMouseEnterTriggerZone()"
      (mouseLeave)="onMouseLeave()">
    </app-sidebar>

    <!-- Main Content -->
    <main [class.ml-64]="isSidebarPinned || isSidebarHovered" (mouseenter)="onMouseEnterMainContent()">
      <div class="content-card">
        <!-- This div ensures full height + single padding -->
        <div class="content-inner">
          <router-outlet></router-outlet>
        </div>
      </div>
    </main>
  </div>
</div>