<main class="flex-1 overflow-y-auto w-full relative bg-gray-50 font-roboto">
   <div class="flex card-details justify-center">
      <p-selectButton [options]="componentNavItems" [(ngModel)]="activeComponent" optionLabel="label"
        optionValue="component" aria-labelledby="basic" (onChange)="navigateToComponent(activeComponent)"
        [style]="{ minWidth: '60%', justifyContent: 'center' }" class="p-selectbutton-custom">
      </p-selectButton>
    </div>

  <div class="">
    <ng-container *ngComponentOutlet="activeComponent"></ng-container>
    <router-outlet></router-outlet>
  </div>
</main>