<div class="flex flex-col rounded-md overflow-hidden bg-[var(--theme-bg-primary)] text-[var(--theme-text-primary)]">

  <!-- Filter Bar -->
  <div class="se-filter-bar">


    <!-- Email Input -->
    <div class="se-filter-field">
      <label for="email">Name</label>
      <input id="email" [(ngModel)]="productFilter.title" placeholder="Title" type="text"
        pInputText min="1" />
    </div>


    <!-- Category Dropdown -->
    <div class="se-filter-field">
      <label for="category">Category</label>
      <p-select id="category" [(ngModel)]="productFilter.category" [options]="categoryOptions" optionLabel="name"
        optionValue="value" placeholder="All Categories" (onChange)="getData()">
      </p-select>
    </div>

    <!-- Brand Dropdown -->
    <div class="se-filter-field">
      <label for="brand">Brand</label>
      <p-select id="brand" [(ngModel)]="productFilter.brand" [options]="brandOptions" optionLabel="name"
        optionValue="value" placeholder="All Brands" (onChange)="getData()">
      </p-select>
    </div>

    <!-- Action Buttons -->
    <div class="se-filter-actions">
      <p-button (click)="getData()" label="Apply" icon="pi pi-check"></p-button>
      <p-button (click)="resetFilters()" label="Reset" icon="pi pi-times" styleClass="p-button-outlined"></p-button>
    </div>

  </div>

  <!-- Grid Area -->
  <div class="mt-1 card">
    <app-shared-grid [data]="data" [gridHeight]="'220px'" [showActions]="false" [headerFilter]="false"
      [rowSelectionMode]="rowSelectionMode" [column]="column" (eventFromGrid)="eventFromGrid($event)">
    </app-shared-grid>
  </div>

  <!-- Dialog for editing product details -->
  <p-dialog [(visible)]="productDialog" [style]="{ width: '32rem' }" header="Product Details" [modal]="true"
    styleClass="rounded-lg shadow-lg">
    <ng-template pTemplate="content">
      <app-product-master [redirectedData]="redirectedProduct"></app-product-master>
    </ng-template>
  </p-dialog>

</div>