<div class="h-[calc(100vh-56px)] flex flex-col overflow-hidden">
  <div class="ag-grid-container">
    <div class="ag-grid-header-filter-area">
      <div class="header-info">
        <h4 class="text-lg font-medium text-surface-950 dark:text-surface-0">{{'Customer List'}}</h4>
      </div>
      <div class="header-controls-glass-container">
        <div class="header-controls-content">
          <div class="header-buttons">
            <app-common-header class="h-17" [gridWidth]="'100%'">
              <!-- <ng-template #limit>
              <p-iftalabel>
                <input pInputText id="limit" (change)="getData()" [(ngModel)]="customerFilter.limit" />
                <label for="limit">limit</label>
              </p-iftalabel>
            </ng-template> -->
            </app-common-header>
          </div>
        </div>
      </div>
    </div>

    <div class="ag-grid-main-area">
      <app-shared-grid [data]="data" [rowSelectionMode]="rowSelectionMode" [column]="column"
        (eventFromGrid)="eventFromGrid($event)">
      </app-shared-grid>
    </div>
  </div>
</div>