:host ::ng-deep .p-dialog .product-image {
  width: 150px;
  margin: 0 auto 2rem auto;
  display: block;
}

.gradient-border .p-select-list {
  border: 2px solid transparent;
  border-image: linear-gradient(to left, #ff9800, #ff5722) 1;
  border-image-slice: 1;
  animation: border-gradient-animation 10s linear infinite;
}

@keyframes border-gradient-animation {
  to {
    border-image-position: 100% 0;
  }
}

.p-datatable-tbody>tr>td {
  text-align: start;
  border-color: var(--p-datatable-body-cell-border-color);
  border-style: solid;
  /* border-width: 0 0 1px 0; */
  padding: 2px;
}

.gradient-border .p-dropdown-list-item {
  border: 2px solid transparent;
  border-image: linear-gradient(to left, #ff9800, #ff5722) 1;
  border-image-slice: 1;
}

.gradient-border .p-dropdown-label {
  border: 2px solid transparent;
  border-image: linear-gradient(to left, #ff9800, #ff5722) 1;
  border-image-slice: 1;
}

.custom-toolbar {
  overflow-x: auto;
  white-space: nowrap;
  padding: 0.5rem 1rem;

  .p-toolbar-group-start,
  .p-toolbar-group-end {
    display: inline-block;
    white-space: nowrap;
  }

  &::-webkit-scrollbar {
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-track {
    background-color: #eee;
    border-radius: 4px;
  }
}